{% for option in options %}
    <div class="card" xmlns="http://www.w3.org/1999/html">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {% if option.imageFile %}
                        <img class="img-thumbnail" src={{ option.imageFile.url }}>
                    {% else %}
                        <img class="img-thumbnail" src="https://d2mekbzx20fc11.cloudfront.net/uploads/Morroccan_Lamb_UC_500x333-rei2.png">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Name of the dish</label>
                        <p>{{ option.name }}</p>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        {{option.description |safe}}
                        <input type="hidden" type="text" name="choiceList[]" value={{ choice.id }}/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
{% endfor %}



<!-- add dish penel-->
<h1>What will you offer for the event</h1>
<br>

<div>
    <!-- card for dishes -->
    <div class="card">

        <div class="card-body">
            <div class="row ml-2">
                    {%  for preference, counter in preferences.items %}
                        {% if counter > 0 %}
                            <h3 class="badge badge-secondary ml-2" style="font-size:1em">
                                {{ preference }} : {{ counter }}
                            </h3>
                        {% endif %}
                    {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-4 container">
                    <img id="opiton_img" class="img-thumbnail" src="https://d2mekbzx20fc11.cloudfront.net/uploads/Morroccan_Lamb_UC_500x333-rei2.png">


                    <!-- add image -->
                        <div class="custom-file">
                            {{optionForm.imageFile}}
                        <label class="custom-file-label" for="customFile" id="file_label">Choose file</label>
                        </div>
                        <script type="text/javascript">
                            $('#option_imageFile').change(function(e){
                                var uploadFile = e.target.files[0].name;
                                //alert(uploadFile);
                                $('#file_label').html(uploadFile);
                                //show image
                                var reader = new FileReader();
                                reader.readAsDataURL(this.files[0]);
                                reader.onload = function (ev) {
                                    // show the image of the picutre that is going to be upload
                                    document.getElementById("opiton_img").src= ev.target.result;
                                };
                            });
                        </script>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="useImageRecognition" value="True">
                            <label class="form-check-label" for="exampleCheck1">Use Image recognition!</label>
                        </div>
                    <!-- end add image-->
                </div>

                <div class="col-md-8">

                    <div class="form-group">
                        <label>Name of the dish</label>
                       {{optionForm.name}}
                         {% if  optionForm.name.errors %}
                            <div class="alert alert-warning">
                            {{ optionForm.name.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div><label>Description</label></div>
                        {% load static %}
                                <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
                                <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
                            {{optionForm.description}}
                            {% if  optionForm.description.errors%}
                            <div class="alert alert-warning">
                            {{ optionForm.description.errors }}
                            </div>
                            {% endif %}
                    </div>
                    <input type="hidden" name="survey" value={{survey.id}}>
                </div>
            </div>

        </div>

        
        <div class="text-right btn btn-block" >
            <button id="add_option" class="btn btn-outline-primary" type="submit"  name="operation" value="add_option" data-toggle="tooltip"  ><i class="fas fa-plus-circle"></i></button>
        </div>

    </div>
    <br>

     <!-- end card for dishes -->

</div>
    {% load static %}
    <script type="text/javascript"  src={% static "main/add_dish_option.js" %}></script>
    <script type="text/javascript">
        var surveyId = {{ survey.id }} ;
        var eventId = {{ survey.event_id }};
    </script>
    {% load static %}
    <script type="text/javascript" src = {% static "main/ajax_survey.js" %}></script>

