{% extends 'base.html' %} {% block title %}Choose My Meal{% endblock %} {% block content %}
<div class="container mt-3">

    <h1>Choose My Meal</h1>
    <br>

    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://d2mekbzx20fc11.cloudfront.net/uploads/Morroccan_Lamb_UC_500x333-rei2.png">
        </div>
        <div class="col-md-6">
            <h4>Pizza</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc libero, ultricies eget tortor sit amet,
                gravida aliquet mauris. Integer rhoncus feugiat erat in cursus.</p>
        </div>
        <div class="col-md-2">
            <br>
            <br>
            <a class="btn btn-primary" href="#">Choose</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fimg1.southernliving.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2Fimage%2F2017%2F07%2Fmain%2Fshrimp_fried_rice_2525601_onean_0088.jpg%3Fitok%3DZz0mHMdR&w=1600&q=70">
        </div>
        <div class="col-md-6">
            <h4>Rice</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc libero, ultricies eget tortor sit amet,
                gravida aliquet mauris. Integer rhoncus feugiat erat in cursus.</p>
        </div>
        <div class="col-md-2">
            <br>
            <br>
            <a class="btn btn-primary" href="#">Choose</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.myrecipes.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2Fclassic-burgers-u.jpg%3Fitok%3DNwtAcM-7&w=700&q=85">
        </div>
        <div class="col-md-6">
            <h4>Burger</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc libero, ultricies eget tortor sit amet,
                gravida aliquet mauris. Integer rhoncus feugiat erat in cursus.</p>
        </div>
        <div class="col-md-2">
            <br>
            <br>
            <a class="btn btn-primary" href="#">Choose</a>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <br>
            <br>
            <h3>No thanks</h3>
            <br>
            <br>
        </div>
        <div class="col-md-2">
            <br>
            <br>
            <a class="btn btn-primary" href="#">Choose</a>
        </div>
    </div>


</div>
{% endblock %}