{% extends 'base.html' %}

 {% block content %}
<div class="container mt-3" >
    <!-- title of the survey -->

    <form  method="POST" action="/survey/create/{{ survey.event_id }}/{{ survey.id }}/"  enctype="multipart/form-data" id="survey_form1">
        {% csrf_token %}
        <!-- <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Title of the survey</label>
                    </div>
                    <div class="col-md-8">

                            <input class="form-control" type="text" name="title" value="Menu">
                            {% if  surveyForm.title.errors %}
                                <div class="alert alert-warning">
                                {{ surveyForm.title.errors }}
                                </div>
                            {% endif %}
          -->
      <input type="hidden" name="event" value={{ event.id }}>
      <input type="hidden" name="survey" value={{ survey.id }}>
      <input type="hidden" name="operation" value="create_survey" />
    </form>
    <br>
    {% if error %}
        <div class="alert alert-warning">
            {{ error }}
        </div>
    {% endif %}

    <!-- end title of the survey-->
    <!-- exist dish-->
    <div  id="choices_container">
        <!-- card for dishes -->
        {% include 'choice_card.html'  with options=options optionForm=optionForm survey=survey preferences=preferences%}


         <!-- end card for dishes -->
        <!-- end exist dish for survey-->

    </div>

    <br>
    <!-- submit survey button -->
    <div class="col-md-4 offset-md-4">

        <button id="submit_survey_button" class="btn btn-primary btn-block" name="operation" value="create_survey" >Public Survey</button>
        <script type="text/javascript">
            $('#submit_survey_button').click(function() {
                            var form = document.getElementById('survey_form1');
                            form.submit();
        });
        </script>
    </div>

    <!-- end submit survey button -->


    <!--end add dish panel-->



</div>



{% endblock %}
