{% extends 'base.html' %} {% block title %}Create Meal Survey{% endblock %} {% block content %}
<div class="container mt-3" >
    <!-- title of the survey -->
    <h1>What's the title for the survey?</h1>


    <form method="POST" action="/survey/create/{{ survey.event_id }}/{{ survey.id }}/"  enctype="multipart/form-data" id="survey_form">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Title of the survey</label>
                    </div>
                    <div class="col-md-8">

                            <input class="form-control" type="text" name="title" placeholder="Title of the event">
                            {% if  surveyForm.title.errors %}
                                <div class="alert alert-warning">
                                {{ surveyForm.title.errors }}
                                </div>
                            {% endif %}
                    <input type="hidden" name="event" value={{ event.id }}>
                        <input type="hidden" name="survey" value={{ survey.id }}>

                    </div>
                </div>
            </div>
        </div>

    <br>

    {% if error %}
        <div class="alert alert-warning">
            {{ error }}
        </div>
    {% endif %}

    <!-- end title of the survey-->
    <!-- exist dish-->
    <div  id="choices_container">
        <!-- card for dishes -->
        {% include 'choice_card.html'  with options=options optionForm=optionForm survey=survey%}


         <!-- end card for dishes -->
        <!-- end exist dish for survey-->

    </div>

    <br>


    <!-- submit survey button -->
    <div class="col-md-4 offset-md-4">
        <button class="btn btn-primary btn-block" type="submit" name="operation" value="create_survey" >Public survey</button>
    </div>
        
    <!-- end submit survey button -->

    </form>
    <!--end add dish panel-->



</div>



{% endblock %}