{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container mt-3">

  {% if form.errors %}
  <div class="alert alert-warning">
    <p>{{ form.errors }}
  </div>
  {% endif %}


  <form method="post" action="{% url 'user_accounts:login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
        <div class="card mb-3">
          <h3 class="card-header text-center bg-primary text-white">Login</h3>
          <div class="card-body pb-0">

            <div class="form-group">
              {{ form.email.label_tag }}
              <br> {{ form.email }}
              <!-- <input class="form-control" name="username"> -->
            </div>
            <div class="form-group">
              {{ form.password.label_tag }}
              <br> {{ form.password }}
              <!-- <input type="password" class="form-control" name="password"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

{% endblock %}
