{% extends 'base.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}
<div class="container mt-3">

    <h1>Post Something</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {%csrf_token%}

                <div class="form-group row">
                    <label name="event" class="col-sm-2 col-form-label">Write something</label>
                    <div class="col-sm-10">
                        <!--<textarea class="form-control" name="event_description"></textarea>-->
                        {{form.message}}
                    </div>
                </div>

                <div class="form-group row">
                    <label name="event" class="col-sm-2 col-form-label">Images</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="event_image" multiple>
                            <!-- {{form.imageFile}} -->
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <button class="btn btn-primary btn-block">Next</button>
            </form>
        </div>
    </div>
    <br>
    <br>

    {% if posts %}
    <div class="container mt-3">

        <h1>ALL POSTS</h1>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                {% for every_post in posts %}

                <div class="post-item">

                    <div class="float-right">
                        <form action="/event/updatepost/{{ every_post.id }}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-edit"></i></button>
                        </form>
                        <form action="/event/deletepost/{{ every_post.id }}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-trash"></i></button>
                        </form>
                    </div>

                    <div>
                        <div class="float-left mr-3">
                            <div class="user-img">
                                <i class="far fa-user"></i>
                            </div>
                        </div>
                        <h5 class="pt-1 mb-1">USERNAME</h5>
                        <p class="text-muted">{{ every_post.date }}</p>
                    </div>
                    <p> {{ every_post.message }}</p>

                    <div>
                        {% if every_postt.imageFile %}
                        <img class="img-thumbnail" src="{{ every_post.imageFile.url }}">
                        {% else %}
                        <img class="img-thumbnail" src="https://d2mekbzx20fc11.cloudfront.net/uploads/Morroccan_Lamb_UC_500x333-rei2.png">
                        {% endif %}
                    </div>

                    <hr>

                    <div class="comment">
                        <div class="comment-item">
                            <div class="row">
                                <div class="col-1">
                                    <div class="comment-user-img">
                                        <i class="far fa-user"></i>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="comment-msg">
                                        <span>USERNAME1:</span>
                                        <span>xxxx message</span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="row">
                                <div class="col-1">
                                    <div class="comment-user-img">
                                        <i class="far fa-user"></i>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="comment-msg">
                                        <span>USERNAME2:</span>
                                        <span>xxxx message asdf;lzxk asdf apsodif nalsd</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="comment-item">
                            <div class="row">
                                <div class="col-1">
                                    <div class="comment-user-img">
                                        <i class="far fa-user"></i>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="comment-post">
                                        <form class="form-group">
                                            <input class="form-control" placeholder="Press Enter to post">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}
    <h1>No post yet </h1>
    {% endif %}

    {% endblock %}