<!--join event-->

<form action="/event/join/" method="POST">
  {% csrf_token %}
  <input type="hidden" name="event" value="{{ event.id }}">
  {% if view.has_joined %}
    <input class="btn btn-danger float-right" type="submit" name="operation" value="unJoin"  style="position:relative; top:8px;">
  {% else %}
    <input class="btn btn-primary float-right" type="submit" name="operation" value="Join"  style="position:relative; top:8px;">
  {% endif %}
</form>


<!--end join evnet-->
<h1>{{ event.name}}</h1>
{{ errors }}
<p class="text-muted">{{ event.date }}</p>

<br>
{% if event.imageFile %}
<img class="img-fluid" src="{{ event.imageFile.url }}">
{% else %}
<img class="img-fluid" src="http://itjobsnepal.com/public/clients/images/noimage.png">
{% endif %}
