{% extends 'base.html' %} {% block title %}Choose My Meal{% endblock %} {% block content %}
<div class="container mt-3">

    <a class="btn btn-primary float-right" href="#" style="position:relative; top:8px;">Join Now</a>
    <h1>{{ event.name}}</h1>
    {{ errors }}
    <p class="text-muted">11 Sep, 2018</p>
    <br>
    {% if event.imageFile %}
        <img class="img-fluid" src="{{ event.imageFile.url }}">
    {% else %}
        <img class="img-fluid" src="https://www.newstatesman.com/sites/all/themes/creative-responsive-theme/images/new_statesman_events.jpg">
    {% endif %}

    <div class="mt-5 mb-3">
        <h3>Description</h3>

        <p class="text-secondary">
            {{ event.description}}
        </p>

        <h3>Location</h3>

        <p class="text-secondary">
            Bennelong Point, Sydney NSW 2000
        </p>

    </div>


    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3313.274512433172!2d151.2145189!3d-33.8568156!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae665e892fdd%3A0x3133f8d75a1ac251!2sSydney+Opera+House!5e0!3m2!1sen!2sau!4v1535703039611"
        width="100%" height="300" frameborder="0" style="border:0" allowfullscreen>
    </iframe>

    <p>new></p>
    <br>
    <br>
</div>
{% endblock %}
