{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">

       {{ form.errors }}
       <h1>Update Event</h1>
       <br>
       <div class="card">
           <div class="card-body">
               <form method="POST" action="/event/update/{{ event.id}}" enctype="multipart/form-data">
                   {%csrf_token%}
                   <div class="form-group row">
                       <label name="event" class="col-sm-2 col-form-label">Event Name</label>
                       <div class="col-sm-10">
                           <!-- input type="text" class="form-control" name="event_name" placeholder="Event" -->
                           {{form.name}}
                       </div>
                   </div>
                   <div class="form-group row">
                       <label name="event" class="col-sm-2 col-form-label">Date of event</label>
                       <div class="col-sm-10">
                           <!--<input type="date" class="form-control" name="event_date" placeholder="Date of event">-->
                           {{form.date}}
                       </div>
                   </div>

                   <div class="form-group row">
                       <label name="event" class="col-sm-2 col-form-label">Venue</label>
                       <div class="col-sm-10">
                           <!--<input type="text" class="form-control" name="event_venue" placeholder="Venue">-->
                           <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzZPVHB5CthWtzUzBqcnRYP3K9qLLsx-0&libraries=places"></script>
                               {{ form.location }}
                               <div id="map"></div>
                               <script type="text/javascript">
                                   function initMap(lat,lng) {
                                     // The location of Uluru
                                     var location = {lat:lat,lng: lng};
                                     // The map, centered at Uluru
                                     var map = new google.maps.Map(
                                         document.getElementById('map'), {zoom: 15, center: location});
                                     // The marker, positioned at Uluru
                                     var marker = new google.maps.Marker({position: location, map: map});
                                   }

                               google.maps.event.addDomListener(window,'load',function () {
                                   var searchBar = new google.maps.places.Autocomplete(document.getElementById("location_input"));
                                   google.maps.event.addListener(searchBar,"place_changed",function () {
                                       document.getElementById('map').setAttribute("style", "height: 400px");
                                       document.getElementById('map').style.display = "block";
                                       var location = searchBar.getPlace();
                                       initMap(location.geometry.location.lat(), location.geometry.location.lng());
                                       $("#lan").val(location.geometry.location.lat());
                                       $("#lng").val(location.geometry.location.lng())
                                   });
                                });
                               </script>
                       </div>
                   </div>
                   <div class="form-group row">
                       <label name="event" class="col-sm-2 col-form-label">Description</label>
                       <div class="col-sm-10">
                           <!--<textarea class="form-control" name="event_description"></textarea>-->
                           {% load static %}
                           <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
                           <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
                           {{form.description}}
                       </div>
                   </div>

                   <div class="form-group ">
                       <label name="event" class="col-sm-2 col-form-label">Images</label>
                       <div class="col-sm-10">
                           <div class="custom-file">
                               <!--<input type="file" class="custom-file-input" id="customFile" name = "event_image" multiple>-->
                               {{form.imageFile}}
                               <label id="file_label" class="custom-file-label" for="customFile">Choose file</label>
                           </div>
                       </div>
                   </div>

                   {{ view.form.host.as_hidden }}
                   <br>
                   {{ form.lan.as_hidden }}
                   {{ form.lng.as_hidden }}

                    <div id="image_container" class="d-flex justify-content-center row" style="display:none">
                        <div class="col-8">
                            <img  id="imageFileToBeUpload" class="img-responsive img-thumbnail"  style="display:none ; max-width: 100%;" src="">
                        </div>

                   </div>
                   <br>
                   <br>

                   <script type="text/javascript">
                       $('#id_imageFile').change(function(e){
                           var uploadFile = e.target.files[0].name;
                           //show name
                           $('#file_label').html(uploadFile);
                           //show image
                           var reader = new FileReader();
                           reader.readAsDataURL(this.files[0]);
                           reader.onload = function (ev) {
                               // show the image of the picutre that is going to be upload
                               document.getElementById("imageFileToBeUpload").src= ev.target.result;
                               document.getElementById("image_container").style.display="block";
                               document.getElementById("imageFileToBeUpload").style.display="block";

                           };
                       });
                   </script>
                   {{ form.host.as_hidden }}

                   <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Update</button>

                     <!-- Modal -->
                     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog" role="document">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>
                           <div class="modal-body">
                             Are you sure you want to update this event?
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                             <button class="btn btn-danger">Update</button>
                           </div>
                         </div>
                       </div>
                     </div>
               </form>
           </div>
       </div>
       <br>
       <br>





   </div>


{% endblock %}
