{% extends 'base.html' %} {% block title %}Cater{% endblock %} {% block content %}
<div class="container mt-3">

    <h1>Do you want to cater for guests</h1>
    <br>
    <div class="card">
        <div class="card-body">

            <div class="row py-5">
                <div class="offset-md-3 col-md-6">
                    <a class="btn btn-outline-primary btn-block p-4" href="#">
                        <span>Offer meal</span>
                        <i class="fas fa-angle-right float-right"></i>
                    </a>
                    <br>
                    <a class="btn btn-outline-info btn-block p-4" href="#">
                        <span>Do not offer meal</span>
                        <i class="fas fa-angle-right float-right"></i>
                    </a>
                </div>
            </div>

            <br>
            <div class="text-right">
                You can change this option later in my event
            </div>

        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}