{% extends 'base.html' %} {% block title %}Choose My Meal{% endblock %} {% block content %}
<div class="container mt-3">

    <h1>Create Event</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <label name="event" class="col-sm-2 col-form-label">Event Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="event" placeholder="Event">
                </div>
            </div>
            <div class="form-group row">
                <label name="event" class="col-sm-2 col-form-label">Date of event</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="event" placeholder="Date of event">
                </div>
            </div>
            <div class="form-group row">
                <label name="event" class="col-sm-2 col-form-label">Venue</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="venue" placeholder="Venue">
                </div>
            </div>
            <div class="form-group row">
                <label name="event" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label name="event" class="col-sm-2 col-form-label">Images</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" multiple>
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Create</a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="text-danger" id="exampleModalLabel" >Are you sure you want to create this event?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor, lacus eget pharetra imperdiet, justo nulla pharetra
                        purus, eget fringilla quam metus sit amet felis. Proin id consequat mauris, et semper leo. Donec rutrum, ex at
                        dictum luctus, ipsum dolor porta dolor, non tristique nisl massa ac nibh. Donec eget ornare sem. Phasellus eleifend
                        diam sit amet velit commodo, non scelerisque arcu cursus. Donec molestie eu ipsum et semper. Cras quis porta
                        ex. Quisque non augue laoreet, tempor lectus blandit, posuere ex. Quisque et tincidunt mauris.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                      <a href="/accounts/organisations/profile/" class="btn btn-primary">Save changes</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}