{% extends 'base.html' %}

{% block title %}{{ title }} | Event Planner{% endblock %}

{% block content %}
  <h2>Users:</h2>
  {% if user.is_authenticated %}
    <a href="/accounts/logout">Logout</a><br>
  {% else %}
    <a href="/accounts/users/login">Login</a><br>
    <a href="/accounts/users/register">Register</a>
  {% endif %}

  {% if user.is_authenticated %}
    <p>Hello {{ user.username }}</p>
  {% else %}
    <p>Hello World</p>
  {% endif %}

  <hr>
  <h2>Organisations:</h2>
  {% if organisation.is_authenticated %}
    <a href="/accounts/logout">Logout</a><br>
  {% else %}
    <a href="/accounts/users/login">Login</a><br>
    <a href="/accounts/organisations/register">Register</a>
  {% endif %}

  {% if user.is_authenticated %}
    <p>Hello {{ user.username }}</p>
  {% else %}
    <p>Hello World</p>
  {% endif %}

{% endblock %}
