<div>
    <a href="/">Home page</a>
</div>
<div>
    <a href="/event-detail">Event Detail</a>
</div>
<div>
    <a href="/event-planner">Event Planner</a>
</div>
<div>
    <a href="/choose-meal">Choose meal</a>
</div>
<div>
    <a href="/choose-meal-success">Choose meal success</a>
</div>
<div>
    <a href="/create-event">Create event</a>
</div>
<div>
    <a href="/cater">Cater for guests</a>
</div>
<div>
    <a href="/event-offer">Event Offer</a>
</div>

<div>
    <a href="/accounts/organisations/profile">Organisation Profile</a>
</div>
