{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <h4>This is the registration page for organisations, not users</h4>
  <form method="post" action="">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label }}: {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
    </p>
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  {% endfor %}
  <br>
  <input type="submit" value="Register">
  </form>

{% endblock %}
