{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if organisation.is_authenticated %}
    <a href="organisations/accounts/logout">Logout</a><br>
  {% else %}
    <a href="organisations/accounts/login">Login</a><br>
  {% endif %}

  {% if user.is_authenticated %}
    <p>Hello {{ user.email }} </p>
  {% else %}
    <p>Hello World</p>
  {% endif %}


  {% if events %}
      <h3>My Events:</h3>
      <ul>
      {% for event in events %}
          <li>{{ event.name }}</li>
      {% endfor %}
      </ul>
  {% else %}
    <h1>Start by creating an event!</h1>
  {% endif %}

{% endblock %}
