{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <a href="/accounts/organisations/logout">Logout</a><br>
  {% else %}
    <a href="/accounts/organisations/login">Login</a><br>
  {% endif %}

  {% if user.is_authenticated %}
    <p>Hello {{ user.email }} </p>
  {% else %}
    <p>Hello World</p>
  {% endif %}

  <a href="/event/create">Create an event</a>
  {% if events %}
      <h3>My Events:</h3>
      <ul>
      {% for event in events %}
          <li>
            <a href="/event/details/{{ event.id }}">{{ event.name }}</a>
            <form action="/event/update/{{ event.id }}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Modify">
            </form>
            <form action="/event/delete/{{ event.id }}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Delete">
            </form>
          </li>
      {% endfor %}
      </ul>
  {% else %}
    <h1>Start by creating an event!</h1>
  {% endif %}

{% endblock %}
